.body

{
    background-image: url(artwork/bg01.jpg);
    background-size: cover;
}

.header
{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

.title
{
    margin: 0;
    line-height: 32px;
    font-size: 16px;
    color: black;
}

.form
 {
    width: 40px;
    margin: auto;
    margin-top: 55px;
}

.input
{
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

.search
{
        width: 75%;
}

.submit
{
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}


.button
{
    width: 32px;
    height: 32px;
    background: ;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 6px rgba(0,0,0,0.5),
                -6px -6px -6px rgba(255,255,255,0.6),
                inset 2px 2px 5px rgba(0,0,0,0.03),
                inset -2px -2px 5px rgba(255,255,255,0.4);
}





/* .button:active
{
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);



}


.button:hover */
